<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a>
        {% endif %}

        {% if user.is_authenticated %}
            <h1>¡Hola {{user.get_full_name}}!</h1>
        {% else %}
            <h1>Bienvenido a nuestro sitio</h1>
        {% endif %}
        
        
        <ul>
            {% for p in producto %}
                <li>{{p.nombre}} - ${{p.precio}}</li>
            {% endfor %} 
        </ul>
    </body>
</html>



